DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://dakshina:CHANGE_ME@localhost:5432/bp_db

DJANGO_DEFAULT_FROM_EMAIL=noreply@tu-dominio.com
DJANGO_ADMIN_EMAIL=ops@tu-dominio.com

# Logging
DJANGO_LOG_LEVEL=INFO
APPS_LOG_LEVEL=DEBUG

# Solo para producción
# AWS S3 (solo producción / UAT)
# AWS_STORAGE_BUCKET_NAME=bp-prod-media
# AWS_S3_REGION_NAME=us-east-1
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
